<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FreeMeterRevival.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FreeMeterRevival.Properties.Settings>
            <setting name="DownloadColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="UploadColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="OverlapColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>White</value>
            </setting>
        </FreeMeterRevival.Properties.Settings>
    </userSettings>
</configuration>